:root {
    --main-color-green: #9bdc28;
    --main-color-yellow: #FDFF2F;
    --main-color-orange: #f9a60a;
    --main-color-sky: #31c6d4;
    --main-color-blue: #2a7bf5;
    --main-color-red: #cc4b4b;
    --main-color-orange-2: #f3ab55;
}

body {
    /*background: #1F2335;*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content_full {
    flex: 1 0 auto;
}

.box_video video {
    position: fixed;
    top: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-color: #000;
    /* ! */
    /*filter: blur(2px);*/
}

.filter {
    filter: blur(2px);
    transform: scale(1.01);
}

.wrapper {
    position: relative;
    width: 900px;
    height: auto;
    color: aliceblue;
    margin: 50px 50% 0px 50%;
    transform: translate(-50%, 0px);
    display: flex;
    justify-content: center;
}

.wrapper video {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    border-radius: 5px;
    filter: blur(3px);
}

.wrapper .content {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5);*/
    padding: 20px;
    margin: 10px 10px 100px 10px;
    border-radius: 5px;
}

.wrapper .content .title {
    font-size: 50px;
    text-align: center;
    font-family: 'Varela Round';
    cursor: grab;
    color: #f5fd59;
    opacity: 0;
    animation: undefined-easeOutBounce 1.5s linear alternate forwards 0.7s, opacity 1s linear alternate forwards 0.7s;
}

.wrapper .content .data {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 0px 0px;
}

.wrapper .content .data .data_1 {
    font-size: 25px;
    font-family: "Open Sans";
    opacity: 0;
    animation: undefined-easeOutBounce 1.5s linear alternate forwards 0.9s, opacity 1s linear alternate forwards 0.9s;
}

.wrapper .content .data .data_4 {
    font-size: 25px;
    font-family: 'Turret Road';
    opacity: 0;
    animation: undefined-easeOutBounce 1.5s linear alternate forwards 1.1s, opacity 1s linear alternate forwards 1.1s;
}

.wrapper .content .links {
    display: flex;
    justify-content: space-evenly;
}

.wrapper .content .links .google {
    font-size: 50px;
    text-align: center;
    animation: animate_1 30s linear infinite alternate, opacity 1s linear alternate forwards 1.1s;
    ;
    text-decoration: none;
    font-family: 'Varela Round';
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .google:hover span:nth-child(1) {
    opacity: 1;
    color: #4285F4;
    text-shadow: 0 0 5px #4285F4;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .google:hover span:nth-child(2) {
    opacity: 1;
    color: #EA4335;
    text-shadow: 0 0 5px #EA4335;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .google:hover span:nth-child(3) {
    opacity: 1;
    color: #FBBC05;
    text-shadow: 0 0 5px #FBBC05;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .google:hover span:nth-child(4) {
    opacity: 1;
    color: #4285F4;
    text-shadow: 0 0 5px #4285F4;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .google:hover span:nth-child(5) {
    opacity: 1;
    color: #34A853;
    text-shadow: 0 0 5px #34A853;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .google:hover span:nth-child(6) {
    opacity: 1;
    color: #EA4335;
    text-shadow: 0 0 5px #EA4335;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .gmail {
    font-size: 50px;
    text-align: center;
    animation: animate_3 20s linear infinite, opacity 1s linear alternate forwards 1.1s;
    text-decoration: none;
    font-family: 'Varela Round';
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .gmail:hover span:nth-child(1) {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .gmail:hover span:nth-child(2) {
    color: #f13030;
    text-shadow: 0 0 5px #f13030;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .gmail:hover span:nth-child(3) {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .youtube {
    font-size: 50px;
    text-align: center;
    animation: animate_youtube_1 20s linear infinite, opacity 1s linear alternate forwards 1.1s;
    ;
    text-decoration: none;
    font-family: 'Varela Round';
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .youtube #youtube_anim {
    opacity: 0;
    animation: animate_youtube_2 20s linear infinite, opacity 1s linear alternate forwards 1.1s;
    ;
}

.wrapper .content .links .youtube:hover #youtube_hover_1 {
    color: #fff;
    text-shadow: 0 0 5px #fff;
    transition: all 0.5s ease 0s;
}

.wrapper .content .links .youtube:hover #youtube_hover_2 {
    color: #ff0a0a;
    text-shadow: 0 0 5px #ff0a0a;
    transition: all 0.5s ease 0s;
}

.wrapper .content .exit_box {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}

.wrapper .content .exit_box .exit {
    font-size: 30px;
    color: crimson;
}

.exit_box {
    display: flex;
    justify-content: center;
}

.neon_button2 {
    /*min-height: 100vh;*/
    overflow: hidden;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: consolas;
    font-size: 25px;
    width: 400px;
    height: 200px;
    opacity: 0;
    animation: opacity 1s linear alternate forwards 1.1s;
    ;
}

.neon_button2 .a-n2 {
    position: absolute;
    top: -40px;
    right: 30px;
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: grab;
}

.neon_button2 .a-n2:active {
    cursor: grabbing;
}

.neon_button2 .a-n2 span {
    position: absolute;
    display: block;
}

.neon_button2 .a-n2:hover {
    background: #b53333;
    color: #000;
    box-shadow: 0px 0px 10px #b53333, 0px 0px 40px#b53333, 0px 0px 50px #b53333;
    transition-delay: 0.2s;
}

.neon_button2 .a-n2 span:nth-child(1) {
    top: 0px;
    left: -91%;
    width: 100%;
    height: 2px;
    background: #b53636;
}

.neon_button2 .a-n2:hover span:nth-child(1) {
    left: 0%;
    transition: 0.3s;
}

.neon_button2 .a-n2 span:nth-child(3) {
    bottom: 0px;
    right: -91%;
    width: 100%;
    height: 2px;
    background: #b53636;
}

.neon_button2 .a-n2:hover span:nth-child(3) {
    right: 0%;
    transition: 0.3s;
}

.neon_button2 .a-n2 span:nth-child(2) {
    bottom: -70%;
    right: 0%;
    width: 2px;
    FONT-WEIGHT: 100;
    background: #b53636;
    height: 100%;
}

.neon_button2 .a-n2:hover span:nth-child(2) {
    bottom: 0%;
    transition: 0.3s;
}

.neon_button2 .a-n2 span:nth-child(4) {
    top: -70%;
    left: 0%;
    width: 2px;
    FONT-WEIGHT: 100;
    background: #b53636;
    height: 100%;
}

.neon_button2 .a-n2:hover span:nth-child(4) {
    top: 0%;
    transition: 0.3s;
}

.neon_button1 {
    /*min-height: 100vh;*/
    overflow: hidden;
    padding: 0px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font-family: consolas;
    font-size: 25px;
    width: 400px;
    height: 200px;
    opacity: 0;
    animation: opacity 1s linear alternate forwards 1.1s;
    ;
}

.neon_button1 .a-n2 {
    position: absolute;
    top: -40px;
    left: 30px;
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: grab;
}

.neon_button1 .a-n2:active {
    cursor: grabbing;
}

.neon_button1 .a-n2 span {
    position: absolute;
    display: block;
}

.neon_button1 .a-n2:hover {
    background: #3cf72f;
    color: #000;
    box-shadow: 0px 0px 10px #41ff33, 0px 0px 40px#41ff33, 0px 0px 50px #41ff33;
    transition-delay: 0.2s;
}

.neon_button1 .a-n2 span:nth-child(1) {
    top: 0px;
    left: -91%;
    width: 100%;
    height: 2px;
    background: #3cf72f;
}

.neon_button1 .a-n2:hover span:nth-child(1) {
    left: 0%;
    transition: 0.3s;
}

.neon_button1 .a-n2 span:nth-child(3) {
    bottom: 0px;
    right: -91%;
    width: 100%;
    height: 2px;
    background: #3cf72f;
}

.neon_button1 .a-n2:hover span:nth-child(3) {
    right: 0%;
    transition: 0.3s;
}

.neon_button1 .a-n2 span:nth-child(2) {
    bottom: -70%;
    right: 0%;
    width: 2px;
    FONT-WEIGHT: 100;
    background: #3cf72f;
    height: 100%;
}

.neon_button1 .a-n2:hover span:nth-child(2) {
    bottom: 0%;
    transition: 0.3s;
}

.neon_button1 .a-n2 span:nth-child(4) {
    top: -70%;
    left: 0%;
    width: 2px;
    FONT-WEIGHT: 100;
    background: #3cf72f;
    height: 100%;
}

.neon_button1 .a-n2:hover span:nth-child(4) {
    top: 0%;
    transition: 0.3s;
}

@keyframes animate_youtube_1 {
    0% {
        color: #fff;
    }
    5% {
        color: #fff;
    }
    25% {
        color: #6f69ac;
    }
    45% {
        color: #ff0d0d;
    }
    50% {
        color: #ff0d0d;
    }
    75% {
        color: #c7ce68;
    }
    95% {
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@keyframes animate_youtube_2 {
    0% {
        color: #ff0d0d;
    }
    5% {
        color: #ff0d0d;
    }
    25% {
        color: #c7ce68;
    }
    45% {
        color: #fff;
    }
    50% {
        color: #fff;
    }
    75% {
        color: #6f69ac;
    }
    95% {
        color: #ff0d0d;
    }
    100% {
        color: #ff0d0d;
    }
}

@keyframes animate_3 {
    0% {
        color: #4081EC;
    }
    25% {
        color: #E34133;
    }
    50% {
        color: #F3B604;
    }
    75% {
        color: #32A350;
    }
    100% {
        color: #4081EC;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes undefined-easeOutBounce {
    0% {
        transform: translateY(100%);
    }
    12% {
        transform: translateY(89.11%);
    }
    24% {
        transform: translateY(56.44%);
    }
    36% {
        transform: translateY(1.99%);
    }
    54% {
        transform: translateY(24.98%);
    }
    74% {
        transform: translateY(1.63%);
    }
    82% {
        transform: translateY(6.25%);
    }
    92% {
        transform: translateY(0.66%);
    }
    96% {
        transform: translateY(1.54%);
    }
    100% {
        transform: translateY(0%);
    }
}

.box_menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.box_menu .video_selector {
    max-width: 930px;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 20px;
    color: azure;
    background-color: #000;
    border-radius: 10px;
}

.box_menu .video_selector .video_item {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 30px 10px 60px 10px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: grab;
}

.box_menu .video_selector .video_item:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.box_menu .video_selector .video_item:active {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    cursor: grabbing;
    /* TODO cursor: wait;*/
}

.box_menu .video_selector .video_item:nth-child(1) {
    filter: hue-rotate(0deg);
}

.box_menu .video_selector .video_item:nth-child(2) {
    filter: hue-rotate(100deg);
}

.box_menu .video_selector .video_item:nth-child(3) {
    filter: hue-rotate(200deg);
}

.box_menu .video_selector .video_item:nth-child(4) {
    filter: hue-rotate(250deg);
}

.box_menu .video_selector .video_item:nth-child(5) {
    filter: hue-rotate(320deg);
}

.box_menu .video_selector .video_item:nth-child(6) {
    filter: hue-rotate(180deg);
}

.box_menu .video_selector .video_item span {
    position: absolute;
    display: block;
}

.box_menu .video_selector .video_item span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.box_menu .video_selector .video_item span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.box_menu .video_selector .video_item span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.box_menu .video_selector .video_item span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.box_menu .close_menu {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-25px, 0px);
}

.box_menu .close_menu::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 45%;
    width: 30px;
    height: 5px;
    background-color: #f52525;
    transform: rotate(20deg);
    border-radius: 10px;
    box-shadow: 0 0 5px #f06666;
    animation: close_menu 1s ease-in-out infinite alternate;
}

.box_menu .close_menu::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 45%;
    width: 30px;
    height: 5px;
    background-color: #f52525;
    transform: rotate(-20deg);
    border-radius: 10px;
    box-shadow: 0 0 10px #f06666;
    animation: close_menu 1s ease-in-out infinite alternate;
}

.box_menu .close_menu:hover:after, .close_menu:hover:before {
    background-color: #6e1313;
}

@keyframes close_menu {
    0% {
        box-shadow: 0 0 10px #f06666;
    }
    100% {
        box-shadow: 0 0 20px #f06666, 0 0 40px #f06666, 0 0 80px #f06666;
    }
}

.container_blocks_box {
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.container_blocks_box .container_blocks {
    width: 900px;
}

.container_blocks_box .container_blocks .box_blocks {
    margin: 20px 0px 20px 0px;
    padding: 30px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}

.box_blocks .box_title {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0px 0px 20px 0px;
}

.container_blocks_box .box_blocks h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 0px 0px 0px 50px;
}

.container_blocks_box .box_blocks:nth-child(1) h2 {
    color: var(--main-color-orange);
    text-shadow: 0 0 5px var(--main-color-orange);
}

.container_blocks_box .box_blocks:nth-child(2) h2 {
    color: var(--main-color-green);
    text-shadow: 0 0 10px var(--main-color-green);
}

.container_blocks_box .box_blocks:nth-child(3) h2 {
    color: var(--main-color-red);
    text-shadow: 0 0 10px var(--main-color-red);
}

/* ? .container_blocks_box .box_blocks:nth-child(4) h2 {} */

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(1) {
    color: #fff34c;
    text-shadow: 0 0 10px #fff34c;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(2) {
    color: #ff4444;
    text-shadow: 0 0 10px #9b2626;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(3) {
    color: #5bff4c;
    text-shadow: 0 0 10px #5bff4c;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(4) {
    color: #4ceaff;
    text-shadow: 0 0 10px #4ceaff;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(5) {
    color: #4c58ff;
    text-shadow: 0 0 10px #4c58ff;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(6) {
    color: #ff4ce1;
    text-shadow: 0 0 10px #ff4ce1;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(7) {
    color: #8546d6;
    text-shadow: 0 0 10px #8546d6;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(8) {
    color: #4cf3ff;
    text-shadow: 0 0 10px #4cf3ff;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(9) {
    color: #ff524c;
    text-shadow: 0 0 10px #ff524c;
}

.container_blocks_box .box_blocks:nth-child(4) h2 span:nth-child(10) {
    color: #ff4ce1;
    text-shadow: 0 0 10px #ff4ce1;
}

.container_blocks_box .box_blocks:nth-child(5) h2 {
    color: var(--main-color-yellow);
    text-shadow: 0 0 10px var(--main-color-yellow);
}

.container_blocks_box .box_blocks:nth-child(6) h2 {
    color: var(--main-color-sky);
    text-shadow: 0 0 10px var(--main-color-sky);
}

.container_blocks_box .end {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #111111;
    transform: translate(0px, -10px);
    cursor: pointer;
    /* ? box-shadow: 0 0 10px #f06666;*/
}

.container_blocks_box .end:before {
    content: '';
    position: absolute;
    top: 40%;
    left: 5%;
    width: 30px;
    height: 5px;
    background-color: #f52525;
    transform: rotate(45deg);
    border-radius: 10px;
    box-shadow: 0 0 5px #f06666;
    animation: close_slide 1s ease-in-out infinite alternate;
}

.container_blocks_box .end:after {
    content: '';
    position: absolute;
    top: 40%;
    left: 5%;
    width: 30px;
    height: 5px;
    background-color: #f52525;
    transform: rotate(-45deg);
    border-radius: 10px;
    box-shadow: 0 0 5px #f06666;
    animation: close_slide 1s ease infinite alternate;
}

.container_blocks_box .end:hover:before, .end:hover:after {
    background: rgba(255, 22, 22, 0.589);
    box-shadow: 0 0 10px #f06666, 0 0 20px #f06666;
}

.container_blocks_box .end:active:before, .end:active:after {
    background: #8a3030;
}

@keyframes close_slide {
    0% {
        box-shadow: 0 0 5px #f06666;
    }
    100% {
        box-shadow: 0 0 20px #f06666, 0 0 40px #f06666, 0 0 80px #f06666;
    }
}

.container_blocks_box .box_content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    justify-content: space-around;
    /* background-color: #f0ff1f; */
}

/* ? .container_blocks_box .box_content a {} */

/*neon Button*/

/*
* font-family: 'Varela Round';
* font-family: 'Turret Road';
* font-family: "Open Sans";
*/

.container_blocks_box .box_content .box_neon_button {
    /* ! background: #1f252f; */
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_blocks_box .box_content .n1-100 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.container_blocks_box .box_content .box_neon_button h3 {
    padding: 15px;
    text-align: center;
}

.container_blocks_box .box_content .a-n1 {
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: 4px;
    border-radius: 10px;
    margin: 10px 30px 50px 30px;
    text-align: center;
}

.container_blocks_box .box_content .a-n1:hover {
    background: var(--main-color-orange-2);
    color: #000;
    box-shadow: 0px 0px 15px var(--main-color-orange-2), 0px 0px 30px var(--main-color-orange-2), 0px 0px 50px var(--main-color-orange-2);
    transition-delay: 0.5s;
    text-shadow: 0 0 1px#000000;
}

.container_blocks_box .box_content .a-n1 span {
    position: absolute;
    display: block;
}

.container_blocks_box .box_content .a-n1 span:nth-child(1) {
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color-orange-2))
}

.container_blocks_box .box_content .a-n1:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

.container_blocks_box .box_content .a-n1 span:nth-child(3) {
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--main-color-orange-2))
}

.container_blocks_box .box_content .a-n1:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    /* transition-delay: 0.5s; */
}

.container_blocks_box .box_content .a-n1 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color-orange-2))
}

.container_blocks_box .box_content .a-n1:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container_blocks_box .box_content .a-n1 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color-orange-2))
}

.container_blocks_box .box_content .a-n1:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

/* ! neon but 2 */

.container_blocks_box .box_content .a-n2 {
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: 4px;
    border-radius: 10px;
    margin: 10px 30px 50px 30px;
    text-align: center;
}

.container_blocks_box .box_content .a-n2:hover {
    background: var(--main-color-green);
    color: #000;
    box-shadow: 0px 0px 15px var(--main-color-green), 0px 0px 30px var(--main-color-green), 0px 0px 50px var(--main-color-green);
    transition-delay: 0.5s;
    text-shadow: 0 0 1px#000000;
}

.container_blocks_box .box_content .a-n2 span {
    position: absolute;
    display: block;
}

.container_blocks_box .box_content .a-n2 span:nth-child(1) {
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color-green))
}

.container_blocks_box .box_content .a-n2:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

.container_blocks_box .box_content .a-n2 span:nth-child(3) {
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--main-color-green))
}

.container_blocks_box .box_content .a-n2:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    /*transition-delay: 0.5s;*/
}

.container_blocks_box .box_content .a-n2 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color-green))
}

.container_blocks_box .box_content .a-n2:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container_blocks_box .box_content .a-n2 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color-green))
}

.container_blocks_box .box_content .a-n2:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

/* ! neon button 3 */

.container_blocks_box .box_content .a-n3 {
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: 4px;
    border-radius: 10px;
    margin: 10px 30px 50px 30px;
    text-align: center;
}

.container_blocks_box .box_content .a-n3:hover {
    background: var(--main-color-red);
    color: #000;
    box-shadow: 0px 0px 15px var(--main-color-red), 0px 0px 30px var(--main-color-red), 0px 0px 50px var(--main-color-red);
    transition-delay: 0.5s;
    text-shadow: 0 0 1px#000000;
}

.container_blocks_box .box_content .a-n3 span {
    position: absolute;
    display: block;
}

.container_blocks_box .box_content .a-n3 span:nth-child(1) {
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color-red))
}

.container_blocks_box .box_content .a-n3:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

.container_blocks_box .box_content .a-n3 span:nth-child(3) {
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--main-color-red))
}

.container_blocks_box .box_content .a-n3:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    /* transition-delay: 0.5s; */
}

.container_blocks_box .box_content .a-n3 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color-red))
}

.container_blocks_box .box_content .a-n3:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container_blocks_box .box_content .a-n3 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color-red))
}

.container_blocks_box .box_content .a-n3:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

/* ! neon button 4 */

.container_blocks_box .box_content .a-n4 {
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: 4px;
    border-radius: 10px;
    margin: 10px 30px 50px 30px;
    text-align: center;
}

.container_blocks_box .box_content .a-n4:hover {
    background: var(--main-color-blue);
    color: #000;
    box-shadow: 0px 0px 15px var(--main-color-blue), 0px 0px 30px var(--main-color-blue), 0px 0px 50px var(--main-color-blue);
    transition-delay: 0.5s;
    text-shadow: 0 0 1px#000000;
}

.container_blocks_box .box_content .a-n4 span {
    position: absolute;
    display: block;
}

.container_blocks_box .box_content .a-n4 span:nth-child(1) {
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color-blue));
}

.container_blocks_box .box_content .a-n4:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

.container_blocks_box .box_content .a-n4 span:nth-child(3) {
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--main-color-blue));
}

.container_blocks_box .box_content .a-n4:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    /* transition-delay: 0.5s; */
}

.container_blocks_box .box_content .a-n4 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color-blue))
}

.container_blocks_box .box_content .a-n4:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container_blocks_box .box_content .a-n4 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color-blue))
}

.container_blocks_box .box_content .a-n4:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

/* ! neon button 5 */

.container_blocks_box .box_content .a-n5 {
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: 4px;
    border-radius: 10px;
    margin: 10px 30px 50px 30px;
    text-align: center;
}

.container_blocks_box .box_content .a-n5:hover {
    background: var(--main-color-yellow);
    color: #000;
    box-shadow: 0px 0px 15px var(--main-color-yellow), 0px 0px 30px var(--main-color-yellow), 0px 0px 50px var(--main-color-yellow);
    transition-delay: 0.5s;
    text-shadow: 0 0 1px#000000;
}

.container_blocks_box .box_content .a-n5 span {
    position: absolute;
    display: block;
}

.container_blocks_box .box_content .a-n5 span:nth-child(1) {
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color-yellow))
}

.container_blocks_box .box_content .a-n5:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

.container_blocks_box .box_content .a-n5 span:nth-child(3) {
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--main-color-yellow))
}

.container_blocks_box .box_content .a-n5:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    /* transition-delay: 0.5s; */
}

.container_blocks_box .box_content .a-n5 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color-yellow))
}

.container_blocks_box .box_content .a-n5:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container_blocks_box .box_content .a-n5 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color-yellow))
}

.container_blocks_box .box_content .a-n5:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

/* ! neon button 6 */

.container_blocks_box .box_content .a-n6 {
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.3s all;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: 4px;
    border-radius: 10px;
    margin: 10px 30px 50px 30px;
    text-align: center;
}

.container_blocks_box .box_content .a-n6:hover {
    background: var(--main-color-sky);
    color: #000;
    box-shadow: 0px 0px 15px var(--main-color-sky), 0px 0px 30px var(--main-color-sky), 0px 0px 50px var(--main-color-sky);
    transition-delay: 0.5s;
    text-shadow: 0 0 1px#000000;
}

.container_blocks_box .box_content .a-n6 span {
    position: absolute;
    display: block;
}

.container_blocks_box .box_content .a-n6 span:nth-child(1) {
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color-sky))
}

.container_blocks_box .box_content .a-n6:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

.container_blocks_box .box_content .a-n6 span:nth-child(3) {
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--main-color-sky))
}

.container_blocks_box .box_content .a-n6:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    /* transition-delay: 0.5s; */
}

.container_blocks_box .box_content .a-n6 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color-sky))
}

.container_blocks_box .box_content .a-n6:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container_blocks_box .box_content .a-n6 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color-sky))
}

.container_blocks_box .box_content .a-n6:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}